<?xml version="1.0" encoding="utf-8" ?>
<module>
    <assemblies>
        <add assembly="EpiUiExtensions.HotSpotCanvas.CmsComponent" />
    </assemblies>
    <clientModule initializer="HotSpotCanvas">
        <moduleDependencies>
            <add dependency="Shell" />
            <add dependency="CMS" />
        </moduleDependencies>
        <requiredResources>
            <add name="HotSpotCanvas" />
        </requiredResources>
    </clientModule>
    <dojo>
        <paths>
            <add name="epi-ui-extensions.controls" path="/epi-ui-extensions/hot-spot-canvas" />
            <add name="epi-ui-extensions.controls.hot-spot-canvas" path="/epi-ui-extensions/hot-spot-canvas" />
        </paths>
    </dojo>
</module>