.hot-spot-content-selector {

	display: flex;
	flex-direction: row;
	width: 279px;
	padding: 0;
	margin: 0;
	flex-wrap: nowrap;
	height: 26px;
	/* for some reason these two are different */
	padding-left: 6px;
	margin-left: 1px;
	padding-right: 5px;
	margin-right: 5px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
}

.hot-spot-content-selector .display-content-selector {
	display: flex;
	width: 100%;
	margin-top: -2px;
	height: 29px;
	padding: 0;
	margin: 0;
}
.hot-spot-content-selector .display-content-selector > .dijitTextBox {
	width: calc(100% - 9px);
	margin-right: 5px;
	padding-right: 2px;
}
.hot-spot-content-selector .display-content-selector > .dijitTextBox .dijitInputContainer {
	padding: 2px 4px 2px 4px;
}

.hot-spot-content-selector .display-content-selector > .dijitTextBox .dojoxEllipsis {
	width: calc(100% - 20px);
	max-width: unset !important;
	padding: 0px 10px;
}
.hot-spot-content-selector[data-type]:not([data-type="undefined"]) .display-content-selector> .dijitTextBox .dojoxEllipsis {
	width: calc(100% - 30px);
	padding: 0px 10px 0px 20px;
	position: relative;
}
.hot-spot-content-selector[data-type]:not([data-type="undefined"]) .display-content-selector> .dijitTextBox .dojoxEllipsis::after {
	position: absolute;
	content: '';
	display: block;
	width: 12px;
	top: 4px;
	left: 5px;
	z-index: 99;
	height: 12px;
	background-image:  url("/EPiServer/Shell/11.36.9/ClientResources/epi/themes/sleek/epi/images/icons/objectIcons16x16.png");
	background-repeat: no-repeat;
	background-position-x: left;
	background-size: 12px;
}
.hot-spot-content-selector[data-type="pageData"] .display-content-selector> .dijitTextBox .dojoxEllipsis::after {
	background-position-y: -48px;
}
.hot-spot-content-selector[data-type="catalogContent"] .display-content-selector> .dijitTextBox .dojoxEllipsis::after {
	background-position-y: -168px;
}
.hot-spot-content-selector .display-content-selector > .dijitTextBox .epi-clearButton {
	display: none;
}
.hot-spot-content-selector .display-content-selector > .dijitButton {
	display: none;
}