.hotspot-hero .hotspot-display .hotspot-display-indicator {
	position: absolute;
	width: 20px;
	height: 20px;
	background: rgba(0,0,0,.1);
	box-sizing: border-box;
	border: none;
	border-radius: 20px;
	display: flex;

	flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

	opacity: .6;

	cursor: grab;
}
.hotspot-hero .hotspot-display[data-readOnly="true"] .hotspot-display-indicator {

	cursor: unset;
	background: none;
}

body.dojoDndMove .hotspot-hero .hotspot-display:not([data-readOnly="true"]) .hotspot-display-indicator {

	cursor: no-drop;
}

.hotspot-hero .hotspot-display:not([data-readOnly="true"]) .hotspot-display-indicator[data-dragging="true"] {

	cursor: grabbing;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.5) !important
}

.hotspot-hero .hotspot-display .hotspot-display-indicator[data-selected="true"] {

	background: rgba(0,0,0,.5);
	border: 1px solid currentcolor;
	opacity: 1;
	box-shadow: 0 0 0px 1px rgba(0,0,0,.7);
}

.hotspot-hero .hotspot-display .hotspot-display-indicator:after {
	position: absolute;
	width: 10px;
	height: 10px;
	background: currentcolor;
	border-radius: 10px;
	content: '';
}
.hotspot-hero .hotspot-display:not([data-readOnly="true"]) .hotspot-display-indicator:before {
	position: absolute;
	box-sizing: content-box;
	width: 20px;
	height: 20px;
	background: transparent;
	border-radius: 30px;
	content: '';
	border: 1px solid rgba(255,255,255,.3);
}