
.hot-spot-canvas .hot-spot-display {
	position: absolute;
	overflow: hidden;
	top: 0;
}
.hot-spot-canvas .hot-spot-display[data-readOnly="true"] {
	opacity: .8;
}
.hot-spot-canvas .hot-spot-display .drop-content-selector,
.hot-spot-canvas .hot-spot-display .drop-content-selector .dijitInlineTable {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent !important;
	box-sizing: border-box;
}

.hot-spot-canvas .hot-spot-display .drop-content-selector .dijitInputField  {
	display: none;
}
.hot-spot-canvas .hot-spot-display .drop-content-selector > .dijitTextBox .epi-clearButton {
	display: none;
}
.hot-spot-canvas .hot-spot-display .drop-content-selector > .dijitButton {
	display: none;
}