<?xml version="1.0" encoding="utf-8" ?>
<module>
    <assemblies>
        <add assembly="EpiUiExtensions.ImageHotSpots.CmsComponent" />
    </assemblies>
    <clientModule initializer="ImageHotSpots">
        <moduleDependencies>
            <add dependency="Shell" />
            <add dependency="CMS" />
        </moduleDependencies>
        <requiredResources>
            <add name="ImageHotSpots" />
        </requiredResources>
    </clientModule>
    <dojo>
        <paths>
            <add name="epi-ui-extensions.controls" path="/epi-ui-extensions/image-hotspots" />
            <add name="epi-ui-extensions.controls.hotspot-hero" path="/epi-ui-extensions/image-hotspots" />
        </paths>
    </dojo>
</module>