.hot-spot-canvas[data-readOnly="true"],
.hot-spot-canvas[data-readOnly="true"] * {
	user-select: none !important;
	-moz-user-select: none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-o-user-select: none !important;
}

.hot-spot-canvas  {
	display: flex;
	flex-direction: column;
	position: relative;
}

.hot-spot-canvas .backdrop {
	background-size: cover;
	background-position: center center;
	border: 1px solid #efefef;
	/* This is important for the image sharpness */
	box-sizing: border-box;
	margin: auto;
}
.hot-spot-canvas .backdrop[data-readOnly="true"] {
	opacity: .5;
}

.hot-spot-canvas .backdrop[style=""],
.hot-spot-canvas .backdrop:not([style]) {
	border: none;
}
.hot-spot-canvas .backdrop-wrapper {
	min-width: 700px;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	border-width: 1px !important;
}
.hot-spot-canvas .backdrop-wrapper[data-loading="true"] {
	background: center center no-repeat url("/EPiServer/Shell/11.36.9/ClientResources/dojox/widget/Standby/images/loading.gif");
}
.hot-spot-canvas .controls {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}
.hot-spot-canvas .side-controls {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
}